.container {
  padding: 10px;

  .modalButton {
    width: 100px;
    text-align: center;
    padding: 7px 0;
    border: 1px solid #00ffff;
    color: #00ffff;
    border-radius: 15px;
    background-color: transparent;
    transition: all .3s;

    &:hover {
      cursor: pointer;
      background-color: #00ffff;
      color: #fff;
    }
  }
}