.container {
  width: 100%;
  margin-top: 50px;

  .title {
    font-size: 40px;
    color: aqua;
    display: flex;
    justify-content: center;
    margin: 50px auto;
  }

  .tabContainer {
    display: flex;
    justify-content: center;

    .tabButton {
      margin: 0 20px;
      width: 100px;
      height: 30px;
      text-align: center;
      border: 1px solid #00ffff;
      color: #00ffff;
      border-radius: 15px;
      background-color: transparent;
      transition: all .3s;
      margin-top: 15px;

      &:hover {
        cursor: pointer;
        background-color: #00ffff;
        color: #fff;
      }
    }
  }

  .postContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}